<div class="background">
  <mat-toolbar color="primary">
    <span>Streaming.tv</span>
    <span class="example-spacer"></span>
    <button mat-button (click)="inicarSesion()">INICIAR SESION</button>
  </mat-toolbar>
  <mat-card class="example-card">
    <form [formGroup]="formGroup">
      <mat-card-content>
        <span>!SUSCRIBETE AHORA¡</span>
        <br><br>
        <mat-divider [inset]></mat-divider>
        <br>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Correo</mat-label>
          <input matInput placeholder="example@gmail.com" formControlName="correo">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Clave</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="clave">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <label id="example-radio-group-label">SELECCIONE UN PLAN</label>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          formControlName="idplan">
          <mat-radio-button class="example-radio-button" *ngFor="let plan of listaPlan" [value]="plan.idplan">
            {{plan.tipo}}: Puede crear hasta {{plan.numpefil}} perfiles.
          </mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
      <mat-card-actions [align]="'end'">
        <button mat-flat-button color="primary" [disabled]="formGroup.invalid" (click)="guardarUsuario()">REGISTRARSE</button>
      </mat-card-actions>
      <h4>Streaming.tv es la nueva plataforma de streaming que reúne todos los contenidos de EXISTENTES junto con aún
        más éxitos de taquilla, series generadoras de obsesión y exclusivos.</h4>
    </form>
    <button mat-flat-button color="accent" (click)="reportes()">REPORTES</button>
  </mat-card>
</div>
