@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

.example-spacer {
  flex: 1 1 auto;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  min-height: 250px;
}

span{
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
}

.container{
  margin: 0 auto;
  width: 80%;
  height: 50px;
}

mat-expansion-panel{
  border: 2px solid;
  margin: 2% auto;
}

.mat-expansion-panel-header-title {
  color: black;
  font-size: 20px;
}
