@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

.background {
  background: repeating-linear-gradient(black,blueviolet, black);
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  min-height: 250px;
}

.ini {
  width: 100%;
  margin: 15% auto;
}

.ini2 {
  width: 50%;
  margin: 0 auto;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 75px;
  color: white;
}
